In [1]:
print("Hello")

Hello

### 마크다운
#### 테스트

In [2]:
print("Hello")

Hello

### 1.람다함수
* 단일문으로 표현되는 익명함수
* 익명함수란 이름이 없는 구현체만 존재하는 간단한 함수를 의미
* 코드 상에서 한번만 사용되는 기능이 있을 때 함수로 작성하지 않고 1회성으로 만들어서 사용

In [3]:
def square(x):
    return x**2

In [4]:
square(5)

25

In [5]:
square2 = lambda x:x**2

In [6]:
square2(6)

36

In [7]:
type(square2)

function

In [8]:
def add(x,y):
    return x+y

In [9]:
add2 = lambda x,y:x+y

In [10]:
add2(5,6)

11

In [11]:
strings = ["bob","charles","alexander3","teddy"]
strings.sort()
strings

['alexander3', 'bob', 'charles', 'teddy']

In [12]:
# sort 기준 : 문자 길이가 짧은 순서
def str_len(s):
    return len(s)

strings = ["bob","charles","alexander3","teddy"]
strings.sort(key=str_len)
strings

['bob', 'teddy', 'charles', 'alexander3']

In [13]:
strings = ["bob","charles","alexander3","teddy"]
strings.sort(key=lambda s:len(s))
strings

['bob', 'teddy', 'charles', 'alexander3']

### filter, map, reduce
* lambda 가 유용하게 사용되는 3가지 대표적 함수
* 함수형 프로그래밍의 기본요소
* filter : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트 반환
           -filter (함수, 반복 가능한 데이터)
* map : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트로 반환

In [14]:
# 리스트에서 짝수만 추출해서 새로운 리스트로 생성
list1 = [1,2,3,4,5,6,7]
print([x for x in list1 if x % 2 == 0])

[2, 4, 6]

In [15]:
even_list1=[]

for i in list1:
    if i % 2 ==0:
        even_list1.append(i)

even_list1

[2, 4, 6]

In [19]:
even_list3=[]

def even(arr):
    for i in arr:
        if i % 2 ==0:
            even_list3.append(i)

even(list1)
even_list3

[2, 4, 6]

In [20]:
def even(n):
    return n % 2 ==0
even(3)

False

In [22]:
nums = [1,2,3,4,5,6,7]
print(list(filter(even,nums)))
list(filter(lambda n:n%2==0,nums))

[2, 4, 6]

[2, 4, 6]

In [23]:
def mul(x):
    return x ** 2
numbers=[1,2,3,6,8,10,11,12,13,16]
list(map(mul,numbers))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 256]

In [24]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 36, 64, 100, 121, 144, 169, 256]

In [26]:
list2 = [1,2,3,4]
list(map(lambda x:x*2,list2))

[2, 4, 6, 8]

In [27]:
# nums=[1,2,3,4,5,6,7,8,9,10]
nums = list(range(1,11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# 3의 배수만 문자열로 변경해서 새로운 리스트 생성
list2=[]
def str_check(arr):
    for i in arr:
        if i % 3 ==0:
            list2.append(str(i))
        else:
            list2.append(i)
str_check(nums)
list2

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [29]:
# 3의 배수만 문자열로 변경해서 새로운 리스트 생성
list2=[]
def str_check(i):
    if i % 3 ==0:
        list2.append(str(i))
    else:
        list2.append(i)
for i in nums:
    str_check(i)
list2

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [30]:
list(map(lambda i:str(i) if i % 3 ==0 else i,nums))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]